.DivRedondo{
    border-radius: 50%;
    border: 2px solid #f8f9fa;
    overflow: hidden;
    height: 200px;
    width: 200px;
}.DivRedondo img{
    width: 100%;
    height: 100%;
}
.DivDeLista{
    border-top: 2px solid #f8f9fa;
}
ul{
    list-style:none;
}
li{
    list-style:none;
}
@media screen and (min-width:1200px) and (max-width:1880px){
    .DivRedondo{
        height: 200px;
        width: 200px;
    }
}
@media screen and (min-width:300px) and (max-width:578px){
    .DivRedondo{
        height: 400px;
        width: 400px;
    }
}